
*{
    box-sizing: border-box;
}
.main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 500px;
    gap: 10px;
}
.box{
  
    background-color: red;
    color: white;
    font-size: 24px;
}


.box1{
grid-row:1/ 4;
}

.box2{
    grid-column:2/4;
}
.box4{
    grid-row:2/3;
}
.box5{
      grid-row:2/3;
}
.box6{
    grid-area:2/4/4/5;
}










