.box{
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
  animation: moving-box 10s ease infinite alternate;
}
@keyframes moving-box {
    0%{
       top: 0px;
       left: 0px;
    }
    20%{
        top:200px;
        left:80vw;
        border-radius: 50%;
    }
    40%{
        top:300px;
        left:0%;
        border-radius: 50%;
    }
     60%{
        top:400px;
        left:80%;
        border-radius: 50%;
    }
    80%{
        top:500px;
        left:0%;
        border-radius: 50%;
    }
    100%{
        top:100%;
        left:100%;
    }
}